body{

    background-color: pink;
    margin: 0;
    font-family: 'Saira Extra Condensed', sans-serif;
   
}

.nav{
    background-color: black;
    height: 7vh;
    width: 100vw;
    top: 0;
}

#icon{
    margin-left: 30px;
    margin-top: 8px;
}

.link{
    float: inline-end;
    position: relative;
    top: 15px;
    right: 50px;

   
    color: white;
    text-decoration: none;
    font: optional;
}
.link:hover{
    color: bisque;
}

.item{
    
    text-align: center;
    display: inline-block;
    width: 23%;
    
}

.row1{
    margin-top: 5%;
}

.row2{
    margin-top: 2%;
}

.row3{
    margin-top: 2%;
}

p{
    font-weight: bolder;
}

span{
    font-style: italic;
}

button{
    margin-top: 10px;
}

