* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(173, 106, 5);
}

#container{
    border: 1px solid black;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 0.5rem;
}

#container> * {
    border: 1px solid black;
}

#sideBar {
    display: grid;
    grid-gap : 5px;
    grid-template-rows: repeat(9.1fr);
    grid-template-columns: repeat(3,9.1fr);
    padding: 0.5rem;
}

#sideBar > * {
    border: 1px solid black;
    border-radius: 3px ;
    cursor: pointer;
}

button {
    grid-column: 1/4;
}

#main {
    display: grid;
    grid-template-columns: repeat(40,1fr);

}

#main > * {
    border: 1px solid rgba(223, 157, 58, 0.578);
    background-color: white;
    
}

