h4{
    text-decoration-line: underline;
    font-weight: bold;
}

img{
    display: block;
    margin: auto;

    border: 8px solid orangered
}

.center{
    margin-left: auto;
    margin-right: auto;
}

th {

    border:solid 1px red ;
    color: red;
    margin: 2px;
    text-align: center;

}

tr, td {
    border: solid 1px black;
    text-align: center;
}